<?xml version="1.0"?>
<phpunit colors="true" bootstrap="vendor/autoload.php" cacheResult="true">
    <testsuites>
        <testsuite name="main">
            <!--<directory suffix="Test.php">.</directory>-->
            <file>src/Tests/ComparisonTest.php</file>
            <file>src/Tests/CsvFileTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>